{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}

{% block content %}

<div class="row">
    <div class="span3">
        {{ render_account_local_nav(current_user, active_link) }}
    </div>
    <div id="categories" class="span9">
        <h1><strong>{{ _('Admin Site') }}:</strong> {{ _('Manage Categories') }}</h1>
        <div class="row-fluid">
            <div id="add" class="span12">
                {% from "_formhelpers.html" import render_field %}
                <form class="form-horizontal" method="POST" action="{{url_for('admin.categories')}}">
                    {{form.hidden_tag()}}
                    <fieldset>
                    {{ render_field(form.name, placeholder= _('Category name')) }}
                    {{ render_field(form.description, placeholder= _('Category description')) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{_('Add Category')}}</button>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% if categories %}
        <h1>{{_('List of Available Categories')}}</h1>
        <hr>
        {% for c in categories %}
        <div class="row-fluid">
            <div class="span5">
                <h2>{{c.name}} <small>({{ n_apps_per_category[c.short_name]}} apps)</small></h2>
            </div>
            <div class="span6">
                <div class="btn-group">
                    <a href="{{url_for('admin.update_category', id=c.id)}}" class="btn"><i class="icon-edit"></i> {{_('Edit Category Name')}}</a>
                    {% if n_apps_per_category[c.short_name] == 0 and (categories | count > 1) %}
                    <a href="{{url_for('admin.del_category', id=c.id)}}" class="btn"><i class="icon-trash"></i> {{_('Delete Category')}}</a>
                    {% else %}
                    <a href="#" class="btn disabled"><i class="icon-trash"></i> {{_('Delete Category')}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
