{% extends "/base.html" %}
{% set active_page = "admin" %}

{% block content %}
<div class="row">
    <div class="span12" style="padding-bottom:10px;text-align:center">
        <h1>Settings</h1>
    </div>
</div>
<div class="row">
    <div class="span6">
        <a href="{{url_for('admin.featured')}}" class="btn btn-large pull-right">
            <i class="icon-star"></i> Manage featured applications
        </a>
    </div>
    <div class="span6">
        <a href="{{url_for('admin.users')}}" class="btn btn-large pull-left">
            <i class="icon-certificate"></i> Manage admin users
        </a>
    </div>
</div>
{% endblock %}
