{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9" style="min-height:400px;">
        <h1><strong>Admin Site</strong></h1>
        <div class="row-fluid">
            <div class="span6">
                <a href="{{url_for('admin.featured')}}" class="btn btn-large">
                    <i class="icon-star"></i> {{ _('Manage featured applications') }}
                </a>
            </div>
            <div class="span6">
                <a href="{{url_for('admin.users')}}" class="btn btn-large">
                    <i class="icon-certificate"></i> {{ _('Manage admin users') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
