{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9" style="min-height:400px;">
        <h1><strong>Admin Site</strong></h1>
        <div class="row-fluid">
            <div id="featured-apps" class="span6 well">
                <h2><i class="icon-star"></i> {{_('Featured Applications')}}</h2>
                <p>{{_('Show applications in the front page')}}</p>
                <a href="{{url_for('admin.featured')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div id="categories" class="span6 well">
                <h2><i class="icon-check"></i> {{_('Categories')}}</h2>
                <p>{{_('Manage application categories')}}</p>
                <a href="{{url_for('admin.categories')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="row-fluid">
            <div id="users" class="span6 well">
                <h2><i class="icon-user"></i> {{_('Users')}}</h2>
                <p>{{_('Manage users')}}</p>
                <a href="{{url_for('admin.users')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="icon-chevron-right"></i> 
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
