{% extends "base.html" %}
{% set active_page = "users" %}

{% block content %}

<div class="row">
    <div class="span12">
        {% from "_formhelpers.html" import render_field %}
        <form class="form-search" method="POST">
        <input id="user" name="user" type="text" class="input-large search-query" placeholder="Try with the full name or nick">
        <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>
{% for user in found %}
    <h1>Found Users</h1>
    <div class="row well">
        <div class="span2">
            <img src="{{user.email_addr | gravatar(size=90)}}">
        </div>
        <div class="span8">
            <h3>{{user.fullname}}</h3>
            <h4>{{user.name}}</h4>
            <h6>Member since: {{user.created[0:10]}}</h6>
            {% if user.admin %}
            <a href="{{url_for('admin.del_admin', user_id=user.id)}}" class="btn btn-danger"> 
                <i class="icon-remove"></i>
                Remove from admin group</a>
            {% else %}
            <a href="{{url_for('admin.add_admin', user_id=user.id)}}" class="btn btn-primary"> 
                <i class="icon-plus"></i>
                Add to admin group</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="span12">
        <h1>List of Admin Users</h1>
    </div>
</div>
{% for user in users %}
    <div class="row well">
        <div class="span2">
            <img src="{{user.email_addr | gravatar(size=90)}}">
        </div>
        <div class="span8">
            <h3>{{user.fullname}}</h3>
            <h4>{{user.name}}</h4>
            <h6>Member since: {{user.created[0:10]}}</h6>
            {% if user.admin %}
            <a href="{{url_for('admin.del_admin', user_id=user.id)}}" class="btn btn-danger"> 
                <i class="icon-remove"></i>
                Remove from admin group</a>
            {% else %}
            <a href="{{url_for('admin.add_admin', user_id=user.id)}}" class="btn btn-primary"> 
                <i class="icon-plus"></i>
                Add to admin group</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}
