{% macro render_account_local_nav(current_user, active_link) -%}
<ul data-spy="affix" data-offset-top="200px" class="nav nav-list bs-docs-sidenav affix-top">
    <li {% if active_link=="profile"%}class="active"{% endif %}><a href="{{url_for('account.profile')}}"><i class="icon-chevron-right"></i> {{ _('My Profile') }}</a></li>
    <li {% if active_link=="applications"%}class="active"{% endif %}><a href="{{url_for('account.applications')}}"><i class="icon-chevron-right"></i> {{ _('My Applications') }}</a></li>
    {% if current_user.admin %}
    <li {% if active_link=="admin"%}class="active"{% endif %}><a href="{{url_for('admin.index')}}"><i class="icon-chevron-right"></i> {{ _('Admin Site') }}</a></li>
    {% endif %}
    <li {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('account.settings')}}"><i class="icon-chevron-right"></i> {{ _('My Settings') }}</a></li>
</ul>
{% endmacro %}

{% macro render_twitter_btn(app) %}
<a href="https://twitter.com/share" class="twitter-share-button"
    data-text="{{ _('I\'ve done') }} {{app.c}} {{ _('tasks for the @PyBossa project:') }} {{app.name}}. {{ _('Do you want to help?') }} {{url_for('app.details',short_name=app.short_name,_external=True)}}"
    data-count="none">{{ _('Tweet') }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endmacro %}

{% macro render_googlePlus_btn(app) %}
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {parsetags: 'explicit'}
</script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{url_for('app.details',short_name=app.short_name,_external=True)}}"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plusone.go();</script>
{% endmacro %}


{% macro render_user_profile(user, settings, private=True) %}
<div class="row-fluid">
    <div class="span3">
        <img class="img-polaroid" src="{{ user.email_addr | gravatar(size=164)}}">
    </div>
    <div class="span9">
        <h2><i class="icon-user"></i> {{ _('Nick')}}: <small>{{ user.name }}</small></h2>
        {% if private %}
        <h2><i class="icon-envelope"></i> {{_('E-mail')}}: <small>{{ user.email_addr }}</small></h2>
        {% endif %}
        {% if user.rank %}
        <h2><i class="icon-trophy"></i> {{ _('Rank')}}: <small>
                {% if private %}
                <a href="{{url_for('leaderboard.index')}}">
                {% endif %}
                {% if not settings %}
                {{ user.rank }} {{_('of')}} {{user.total}} {{ _('with a Score of')}} {{user.score}} {{ _('contributed tasks')}}
                {% else %}
                {{ user.rank }}
                {% endif %}
                {% if private %}</a>{% endif %}
                </small>
        </h2>
        {% else %}
        <h2><i class="icon-trophy"></i> {{ _('Rank') }}: <small>{{ _('The user has not contributed a task yet') }}</small></h2>
        {% endif %}
        {% if not private %}
        <h2><i class="icon-time"></i> {{ _('Joined') }}: <small>{{ user.created[0:10]}}</small></h2>
        {% endif %}
        {% if settings %}
        <h2><i class="icon-key"></i> {{ _('API key') }}: <small>{{ user.api_key }}</small></h2>
        {% endif %}
        {% if private and not settings%}
        <a href="{{ url_for('account.public_profile', name=user.name) }}" class="btn btn-inverse"><i class="icon icon-globe"></i> {{ _('See your public profile') }}</a>
        <a href="{{ url_for('account.settings') }}" class="btn btn-primary"><i class="icon icon-user"></i> {{ _('Edit your profile') }}</a>
        {% endif %}
    </div>
</div>
{% endmacro %}
