{% extends "base.html" %}
{% set active_page = "community"  %}

{% macro render_pagination(pagination) %}
  <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
          <li>
          <a href="{{ url_for_other_page(pagination.page - 1)
            }}">&laquo; Prev</a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
             </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
          <a href="{{ url_for_other_page(pagination.page + 1)
            }}">Next &raquo;</a>
          </li>
        {% endif %}
    </ul>
  </div>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="span9 offset2">
        {{ render_pagination(pagination) }}
    </div>
</div>

<div class="row">
  <div class="span9 offset2">
          {% if accounts %}
      <ul class="thumbnails">
      {% for account in accounts %}
      <li> 
      <a href="#" class="thumbnail" rel='popover' title="{{account['fullname']}}" data-content="
              <strong>Joined:</strong> {{account['created'][0:10]}}
              {% for app in account.apps %}
              <br/>
              <strong>Owner of:</strong> {{ app.name }}
              {% endfor %}
              <br/>
              <strong>Submitted Tasks:</strong> {{ account.task_runs | count }}
              ">
                <img src="{{account['email_addr'] | gravatar(size=90)}}">
        </a>
      </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<script>
$("a[rel=popover]").popover({
        html: true,
        animate: true,
        position: 'above'
                }).click(function(e) {
                        e.preventDefault()
                        });

</script>
{% endblock %}
