{% extends "base.html" %}
{% set active_page = "community"  %}
{% import "privacy/locked.html" as privacy %}
{% import "account/_helpers.html" as helper %}

{% block content %}

<div class="row">
    <div class="span3">
         {{ helper.render_community_local_nav(current_user, active_page) }}
        
    </div>

    <div class="span9" style="min-height:400px">

      {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
      {% else %}
      <h1>{{ _('Community') }} <small>{{total}} {{ _('registered users') }}</small><a class="pull-right btn btn-primary" href="{{url_for('leaderboard.index')}}"><i class="icon-trophy" style="color:white"></i> {{ _('Leaderboard') }}</a></h1>
      {% if accounts %}
      <ul class="thumbnails">
      {% for account in accounts %}
      <li> 
      <a href="{{url_for('account.public_profile', name=account.name)}}" class="thumbnail" rel='popover' title="<strong>{{account['fullname']}}</strong>" data-content="
              <ul style='list-style-type:none; margin-left:0px;'>
                <li><strong><i class='icon-calendar'></i> Joined</strong> {{account['created'][0:10]}}</li>
                <li><strong><i class='icon-tasks'></i> Contributed Tasks</strong> {{ account.task_runs | count }}</li>
                {% if account.apps %}
                <li><strong><i class='icon-certificate'></i> Owner of</strong>
                  <ul style='list-style-type:none'>
                      {% for app in account.apps %}
                      <li><i class='icon-chevron-right'></i> {{ app.name | truncate(18, true)}}</li>
                      {% endfor %}
                  </ul>
                </li>
                {% endif %}
              </ul>
              ">
                <img src="{{account['email_addr'] | gravatar(size=90)}}">
        </a>
      </li>
      {% endfor %}
      </ul>
    {% endif %}
    <div class="span9">
        {{ helper.render_pagination(pagination) }}
    </div>
    {% endif %}
  </div>
</div>

<script>
$("a[rel=popover]").popover({
        html: true,
        animate: true,
        trigger: 'hover',
        placement: 'bottom'
                });

</script>
{% endblock %}
