{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1><strong>{{current_user.fullname}}</strong>: {{ _('Change your Password') }}</h1>
        <form method="post" class="form-horizontal" action="{{ url_for('account.change_password') }}">
            <fieldset>
                {{ form.id }}
                {{ form.hidden_tag() }}
                {{ render_field(form.current_password, placeholder= _('my current password') ) }}
                {{ render_field(form.new_password, placeholder= _('my new password') ) }}
                {{ render_field(form.confirm, placeholder= _('my new password again') ) }}
                <div class="form-actions">
                    <input type="submit" value="Save the changes" class="btn btn-primary btn-large" text={{ _('Save the Changes')}} />
                    <a href="{{ url_for('account.settings') }}" class="btn">{{ _('Cancel') }}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
