{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend>Reset your Password</legend>
  <form method="post" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.email_addr, placeholder="my new password") }}
      <div class="form-actions">
        <input type="submit" value="Reset my Password" class="btn btn-primary btn-large" />
        <a href="{{ url_for('account.signin') }}" class="btn">Cancel</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

