{% extends "base.html" %}
{% set active_page = "profile" %}

{% block content %}

<div class="row">
    <div class="tabbable span2 well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Profile</li>
        <li class="active"><a href="#account" data-toggle="tab"><i class="icon-user"></i> Account</a></li>
        <li class="nav-header">Applications</li>
        <li><a href="#apps" data-toggle="tab"><i class="icon-th-list"></i> List</a></li>
      </ul>
    </div>
    <div class="tab-content span7">
      <div class="tab-pane active well" id="account">
        <div class="row">
          <div class="span2">
              <ul class="thumbnails">
                  <li class="span2">
                  <a href="#" class="thumbnail">
                    <img src="{{ current_user.email_addr | gravatar(size=200)}}">
                  </a>
                  </li>
              </ul>
          </div>
          <div class="span4">
              <h2>{{ current_user.fullname }}</h2>
              <h3>Nick: <small>{{ current_user.name }}</small></h3>
              <h3>E-mail: <small>{{ current_user.email_addr }}</small></h3>
              <h3>Joined: <small>{{ current_user.created[0:10] }}</small></h3>
              <h3>API key: <small>{{ current_user.api_key }}</small></h3>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="apps">
        <div id="app" class="row">
           <div id="actions" class="span6 well">
               <a href="/app/new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create a new application</a>
           </div>
        </div>
        {% for app in current_user.apps %}
        <div id="app" class="row">
            <div id="buttons" class="span6 well">
              <div id="img" class="row">
                <div class="span2">
                    <ul class="thumbnails">
                        <li>
                            <a href="#" class="thumbnail">
                                <img src="http://placehold.it/120x120">
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="data" class="span4">
                  <h2>{{ app.name }}</h2>
                  <ul>
                    <li><strong>Description:</strong> {{ app.description }}</li>
                    <li><strong>Created:</strong> {{ app.created[0:10] }}</li>
                    {% if app.last_active != "None" %}
                    <li><strong>Last Submitted Task:</strong> {{ app.last_activity() }}</li>
                    {% endif %}
                    </ul>
                    <a class="btn btn-inverse" href="/app/{{ app.short_name }}"><i class="icon-edit icon-white"></i> Manage the application</a>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      </div>
</div>
{% endblock %}
