{% extends "base.html" %}
{% set active_page = "account" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
<div class="row">
    <div class="span12">
        <section id="user-data">
            <h1><strong>{{user.fullname}}</strong></h1>
            {{ helper.render_user_profile(user, settings=False, private=False) }}
        </section>
        {% if apps_created %}
        <section id="created-apps" style="margin-top:10px;">
            <div class="banner">
                <div class="row-fluid">
                    <div class="span4">
                    <h1>Created Applications</h1>
                    </div>
                    <div class="span8">
                      <ul class="featured">
                          {% for app in apps_created %}
                          <li><a href={{ url_for('app.details', short_name=app.short_name)}}>
                              {% if app.info.thumbnail %}
                              <img src="{{app.info.thumbnail}}" style="min-height:100px; min-width:100px;">
                              {% else %}
                              <img src="{{url_for('static', filename="img/placeholder.dark.png")}}">
                              {% endif %}
                              <h3>{{app.name}}</h3>
                              <span class="label label-info">Info</span>
                              </a>
                          </li>
                          {% endfor %}
                          {% for number in range(18 - apps_created |count) %}
                          <li></li>
                          {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <section id="contributed-apps" style="margin-top:10px;">
            <div class="banner">
                <div class="row-fluid">
                    <div class="span4">
                        <h1>Contributions</h1>
                    </div>
                    <div class="span8">
                      <ul class="featured">
                          {% for f in apps %}
                          <li><a href={{ url_for('app.details', short_name=f.short_name)}}>
                              {% if f.info.thumbnail %}
                              <img src="{{f.info.thumbnail}}" style="min-height:100px; min-width:100px;">
                              {% else %}
                              <img src="{{url_for('static', filename="img/placeholder.dark.png")}}">
                              {% endif %}
                              <h3>{{f.name}}</h3>
                              <span class="label label-info">Info</span>
                              </a>
                          </li>
                          {% endfor %}
                          {% for number in range(18 - apps |count) %}
                          <li></li>
                          {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
