{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<p style="padding-top:5px;">
<span class="label label-warning"><i class="icon-bullhorn"></i> Note</span> 
    By clicking in the <strong>Create account button</strong> below you are agreeing to 
    these <a target="blank" href={{terms_of_use | safe}}>terms of use</a> and 
    <a href={{data_use | safe}}>data</a>.
</p>

  <legend>Create an account</legend>
  <form method="post" class="form-horizontal" action="{{ url_for('account.register') }}">
      <fieldset>
      {{ render_field(form.fullname, placeholder="my full name") }}
      {{ render_field(form.username, placeholder="myusername") }}
      {{ render_field(form.email_addr, placeholder="hello@mywebsite.org") }}
      {{ render_field(form.password, placeholder="my secret password") }}
      {{ render_field(form.confirm, placeholder="my secret password") }}
      <div class="form-actions">
        <input type="submit" value="Create an account" class="btn btn-primary btn-large" />
        <input type="reset" value="Cancel" class="btn" />
      </div>
      </fieldset>
  </form>
{% endblock %}
