{% extends "/base.html" %}
{% set active_page = "profile" %}
{% set active_link  = "settings" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
<div class="row">
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1><strong>{{current_user.fullname}}</strong>: {{ _(' Reset API Key') }}</h1>
        <div class="alert alert-warning">
            <strong>{{ _('Note') }}</strong>{{ _(' If you reset the API key, you will need to use the new generated key for any API call.') }}
        </div>
        <form class="form-horizontal" method="post" action="{{ url_for('account.reset_api_key')}}">
        <h3><strong>{{ _('Do you want to reset your personal API Key?') }}</strong></h3>
        <div class="form-actions">
          <input type="submit" class="btn btn-small" value="Yes"/>
          <a href="{{ url_for('account.settings') }}" class="btn btn-large btn-primary">{{ _('No, do not reset the API key!') }}</a>
        </div>
    </div>
</div>
{% endblock %}
