{% extends "base.html" %}

{% block content %}
{% if auth.twitter %}
  {% if next is not none%}
      <a href="{{ url_for('twitter.login', next=next) }}" class="btn btn-info">Sign in with Twitter</a>
  {% else %}
      <a href="{{ url_for('twitter.login') }}" class="btn btn-info">Sign in with Twitter</a>
  {% endif %}
      <hr>
{% endif %}

{% from "_formhelpers.html" import render_field %}
  <form method="post" class="form-horizontal" action="">
    <legend>Or Sign in with your PyBossa account</legend>
      {{ render_field(form.username, placeholder="your username") }}
      {{ render_field(form.password, placeholder="********") }}
    <div class="form-actions">
      <input type="submit" value="Sign in" class="btn btn-primary btn-large" />
      <input type="reset" value="Cancel" class="btn" />
    </div>
  </form>

<div class="row">
    <div class="span12" style="text-align:center">
        <a href="{{ url_for('account.register') }}" class="btn btn-success"><i class="icon icon-white icon-user"></i> Create a new account!</a>
    </div>
</div>
{% endblock %}
