{% extends "base.html" %}

{% block content %}
{% if next is not none%}
  {% if auth.twitter %}
  <a href="{{ url_for('twitter.login', next=next) }}" class="btn btn-info"><i class="icon-twitter"></i> Sign in with Twitter</a>
  {% endif %}
  {% if auth.facebook %}
  <a href="{{ url_for('facebook.login', next=next) }}" class="btn btn-primary"><i class="icon-facebook"></i> Sign in with Facebook</a>
  {% endif %}
{% else %}
  {% if auth.twitter %}
  <a href="{{ url_for('twitter.login') }}" class="btn btn-info"><i class="icon-twitter"></i> Sign in with Twitter</a>
  {% endif %}
  {% if auth.facebook %}
  <a href="{{ url_for('facebook.login') }}" class="btn btn-primary"><i class="icon-facebook"></i> Sign in with Facebook</a>
  {% endif %}
{% endif %}
<hr>

{% from "_formhelpers.html" import render_field %}
  <form method="post" class="form-horizontal" action="">
    <legend>Or Sign in with your PyBossa account</legend>
      {{ render_field(form.username, placeholder="") }}
      {{ render_field(form.password, placeholder="") }}
    <div class="form-actions">
      <input type="submit" value="Sign in" class="btn btn-primary btn-large" />
      <input type="reset" value="Cancel" class="btn" />
    </div>
  </form>

<div class="row">
    <div class="span12" style="text-align:center">
        <a href="{{ url_for('account.register') }}" class="btn btn-success"><i class="icon icon-white icon-user"></i> Create a new account!</a>
    </div>
</div>
{% endblock %}
