[submodule "doc/_themes/sphinx-theme-okfn"]
	path = doc/_themes/sphinx-theme-okfn
	url = https://github.com/okfn/sphinx-theme-okfn.git
[submodule "pybossa/themes/default"]
	path = pybossa/themes/default
	url = https://github.com/AltClick/pybossa-amnesty-theme.git
[submodule "doc/_themes/sphinx-theme-pybossa"]
	path = doc/_themes/sphinx-theme-pybossa
	url = https://github.com/PyBossa/sphinx-theme-pybossa.git
[submodule "pybossa/plugins/amnesty_sso_connector"]
	path = pybossa/plugins/amnesty_sso_connector
	url = https://github.com/AltClick/pybossa-im-oauth2-client.git
[submodule "pybossa/plugins/discourse_integration"]
	path = pybossa/plugins/discourse_integration
	url = https://github.com/AltClick/pybossa-discourse-client.git
