*.egg-info
*.tox
.*.swp
*.pyc
*.db
settings_local.py
env/
doc/_build
*.un~
*.wsgi
*.noseids
*.swo
.DS_Store
*.coverage
alembic.ini
alembic-heroku.ini
pybossa/templates/custom_footer.html
pybossa/templates/home/_other_projects.html
pybossa/templates/home/custom_text.html
pybossa/templates/custom/*
_ga.html
_gcs.html
_gcs_form.html
dat/GeoLiteCity.dat
.ropeproject/
pybossa/static/globe/
pybossa/static/img/sloan.png
pybossa/static/img/sloan.png.png
pybossa/static/img/world.jpg
pybossa/static/js/d3.layout.cloud.js
pybossa/static/js/d3.v2.min.js
pybossa/static/js/raphael-min.js
pybossa/static/openlayers/
.idea/
.vagrant/
vagrant_env/
keys/*
*.pem
*.swm
*.swn
*.swl
*.log
log
*.sql

pybossa/themes/crowdcrafting-theme/

test/test_cache.py
