*.egg-info
*.tox
.*.swp
*.pyc
*.db
settings_local.py
settings_test.py
settings_upref_mdata.py
*env/
doc/_build
*.un~
*.wsgi
*.noseids
*.swo
.DS_Store
*.coverage
alembic.ini
_ga.html
_gcs.html
_gcs_form.html
dat/GeoLiteCity.dat
.ropeproject/
.idea/
*.sublime-*
sftp-config.json
.vagrant/
vagrant_env/
keys/*
*.pem
*.swm
*.swn
*.swl
*.log
log
*.sql
dat/GeoIP.dat
*.ini
pybossa/themes/pybossa-default-theme/
dist/*
pybossa/themes/crowdcrafting-theme/
pybossa/translations
#pybossa/plugins/
!pybossa/plugins/__init__.py
test/test_cache.py
cover/*
coverage.xml
htmlcov/*
pybossa/themes/*
.vscode/
env3/
*.bak
*.orig
tags
