alembic==0.9.10
appdirs==1.4.3
arrow==0.12.1
asn1crypto==0.24.0
attrs==19.3.0
Babel==2.6.0
beautifulsoup4==4.7.0
blinker==1.4
CacheControl==0.12.6
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
contextlib2==0.6.0
cov-core==1.15.0
coverage==4.5.2
croniter==0.3.28
cryptography==2.9.2
cssselect==1.0.3
debtcollector==1.20.0
decorator==4.3.0
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dnspython==1.16.0
eight==1.0.0
email-validator==1.1.1
entrypoints==0.2.3
factory-boy==2.4.1
Faker==1.0.1
feedparser==5.2.1
Flask==1.0.2
Flask-Assets==0.12
Flask-Babel==0.9
Flask-Cors==3.0.2
Flask-DebugToolbar==0.10.1
Flask-HTTPAuth==3.2.4
flask-json-multidict==1.0.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Misaka==0.3.0
Flask-OAuthlib==0.9.1
Flask-Plugins==1.6.1
flask-profiler==1.6
-e git+https://github.com/mykaarma/flask-saml2.git@5bfce9e3b8200ae170b4d92fbf7abba33bb70e7d#egg=flask_saml2
Flask-SimpleLDAP==1.1.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.3
flatten-json==0.1.6
future==0.18.2
google-api-python-client==1.5.5
html2text==2014.7.3
html5lib==1.0.1
httplib2==0.18.0
humanize==0.5.1
idna==2.8
iiif-prezi==0.3.0
infinity==1.4
intervals==0.8.1
ip-associations-python-novaclient-ext==0.2
ipaddr==2.2.0
iso8601==0.1.12
itsdangerous==1.1.0
jeepney==0.4
Jinja2==2.11.2
jsmin==2.2.2
keyring==17.1.1
keystoneauth1==3.11.2
libsass==0.16.1
lockfile==0.12.2
lxml==4.2.6
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
misaka==1.0.2
mock==2.0.0
msgpack==0.6.0
ndg-httpsclient==0.5.1
netaddr==0.7.19
netifaces==0.10.9
nose==1.3.7
nose-cov==1.6
numpy==1.15.4
oauth2client==4.1.3
oauthlib==2.1.0
os-diskconfig-python-novaclient-ext==0.1.3
os-networksv2-python-novaclient-ext==0.26
os-service-types==1.4.0
os-virtual-interfacesv2-python-novaclient-ext==0.20
oslo.config==6.7.0
oslo.i18n==3.23.0
oslo.serialization==2.28.1
oslo.utils==3.39.0
otpauth==1.0.1
packaging==20.3
pandas==0.23.4
pbr==5.4.5
pep517==0.8.2
Pillow==7.1.2
pkg-resources==0.0.0
prettytable==0.7.2
progress==1.5
psycopg2-binary==2.8.5
pyasn1==0.4.5
pyasn1-modules==0.2.3
-e git+https://github.com/mykaarma/pybossa.git@8b2dfedd25264f325f03f20245213a1a2722a654#egg=pybossa
pybossa-onesignal==1.1
pycountry==19.8.18
pycparser==2.19
pycryptodome==3.7.2
PyJWT==1.7.1
PyLD==1.0.4
pyldap==3.0.0.post1
pyOpenSSL==17.5.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-editor==1.0.3
python-keystoneclient==3.18.0
python-ldap==3.1.0
python-novaclient==17.1.0
pytoml==0.1.21
pytz==2018.7
PyYAML==5.1
rackspace-auth-openstack==1.3
rackspace-novaclient==2.1
raven==6.10.0
rax-default-network-flags-python-novaclient-ext==0.4.0
rax-scheduled-images-python-novaclient-ext==0.3.1
readability-lxml==0.7
redis==3.3.6
rednose==1.3.0
requests==2.21.0
requests-oauthlib==1.0.0
retrying==1.3.3
rfc3986==1.2.0
rope==0.17.0
rq==0.13.0
rq-dashboard==0.3.12
rq-scheduler==0.9
rsa==4.6
SecretStorage==3.1.0
signxml==2.8.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.6.1
speaklater==1.3
SQLAlchemy==1.3.18
stevedore==2.0.1
termstyle==0.1.11
text-unidecode==1.2
twitter==1.17.1
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.24.2
validators==0.12.6
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.10.11
WTForms==2.3.1
WTForms-Components==0.10.4
yacryptopan==1.0.0
