--index-url https://pypi.python.org/simple/

-e git+https://github.com/maxcountryman/flask-login.git@13af160b3fd14dfb5f35f9cdc3863771efe194eb#egg=Flask-Login
-e git+https://github.com/Scifabric/rq-dashboard.git#egg=rq-dashboard

