body {
  padding-top: 40px;
}

.hero-unit h1 {
  line-height: 1.5;
}

/************************************
  * Flash notifications / messages
  ***********************************/

div.alert-messages {
  margin-top: 15px;
}

