body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/************************************
  * Flash notifications / messages
  ***********************************/

div.alert-messages {
  margin-top: 15px;
}

#copyright, #okfn, #agplv3, #glyphicons {
    text-align: center;
}
