<div class="row-fluid">
    <div class="span12">
        <h1><strong>{{app.name}}</strong>: Task Presenter Editor</h1>
        <p class="lead">Use one of the following available <strong>templates</strong> for your application
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="well" style="min-height:211px;">
            <h2><i class="icon-edit"></i> Basic</h2> 
            <h3>The most basic template</h3>
            <p><strong>Complexity</strong>: <i class="icon-star"></i></p>
            <p><strong>Skills</strong>: HTML and JavaScript</p>
            <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='basic')}}" class="btn btn-inverse">Use the Basic template</a></p>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h2><i class="icon-picture"></i> Image Pattern Recognition</h2> 
            <h3>Re-use the Flickr Person Finder template</h3>
            <p><strong>Complexity</strong>: <i class="icon-star"></i><i class="icon-star"></i></p>
            <p><strong>Skills</strong>: HTML and JavaScript</p>
            <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='image')}}" class="btn btn-inverse">Use the Image template</a></p>
            <a href="https://github.com/PyBossa/app-flickrperson/archive/master.zip" class="btn btn-inverse">Download the template and work locally</a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="well">
            <h2><i class="icon-globe"></i>Geo-coding</h2> 
            <h3>Re-use the Urban Park template</h3>
            <p><strong>Complexity</strong>: <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
            <p><strong>Skills</strong>: HTML, JavaScript and Geo expertise</p>
            <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='pdf')}}" class="btn btn-inverse">Use the Mapping template</a></p>
            <a href="https://github.com/PyBossa/app-geocoding/archive/master.zip" class="btn btn-inverse">Download the template and work locally</a>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h2><i class="icon-pencil"></i>Transcribing documents</h2> 
            <h3>Re-use the PDF transcription template</h3>
            <p><strong>Complexity</strong>: <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
            <p><strong>Skills</strong>: HTML, JavaScript and Server side</p>
            <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='pdf')}}" class="btn btn-inverse">Use the Transcription template</a></p>
            <a href="https://github.com/PyBossa/pdftranscribe/archive/master.zip" class="btn btn-inverse">Download the template and work locally</a>
        </div>
    </div>
</div>
