[program:rq-scheduler]
command=/home/pybossa/pybossa/env/bin/rqscheduler --host 127.0.0.1 --port 6379 --interval 60 --db 0
directory=/home/pybossa/pybossa
autostart=true
autorestart=true
priority=998
user=pybossa
log_stdout=true
log_stderr=true
logfile=/var/log/rq-scheduler.log
logfile_maxbytes=10MB
logfile_backups=2
