{% extends "/base.html" %}
{% set active_page = "create" %}
{% set active_link = "teams" %}
{% from "tea,/_helpers.html" import render_account_local_nav %}


{% block content %}

<div class="row-fluid">
    <div class="span3">
        {{ render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1>{{ _('Create a Team') }}:</h1>
        {% from "_formhelpers.html" import render_field %}
        <form method="post" class="form-horizontal" action="{{ url_for('team.new') }}">
        {{ form.hidden_tag() }}
        <fieldset>
          {{ render_field(form.name, placeholder= _('my team name')) }}
          {{ render_field(form.description, placeholder= _('my team description')) }}
          {{ render_field(form.public, tooltip=_('Do you want to be public this team or public invitation only?'))}}
          <div class="form-actions">
            <input type="submit" value="{{ _('Create a team') }}" class="btn btn-primary btn-large" />
            <a href="{{ url_for('team.index') }}" class="btn">{{ _('Cancel') }}</a>
          </div>
        </fieldset>
  </form>



    </div>
</div>
<script>
    $("span[rel='tooltip']").tooltip();
    $("i[rel='tooltip']").tooltip();
</script>

{% endblock %}



