{% extends "/base.html" %}
{% set active_page = "teams" %}
{% set active_team  = "all" %}
{% import "team/_helpers.html" as helper %}

{% block content %}
<div class="row">
    {% if team %}
    <div class="span3">
        {{ helper.render_team_local_nav(team, 'info', current_user) }}
    </div>
    <!-- Team -->
    <div class="span9" style="min-height:400px">        
		<div class="row-fluid {{class}} well">
			<h1>{{ team.name }}</h1>
			<div class="row-fluid">
				<div class="span3">
					<img class="thumbnail" src="{{url_for('static', filename='img/placeholder.png')}}" style="max-width:100px;">
				</div> <!-- End of span3 -->
				<div id="data" class="span9">
					<p style="margin:0"><strong><i class="icon-info-sign"></i> {{ _('Description') }}  </strong>: {{ team.description }}</p>
					<p style="margin:0"><strong><i class="icon-ok"></i>        {{ _('Creation Date') }}</strong>: {{ team.created[0:10] }}</p>
					<p style="margin:0"><strong><i class="icon-group"></i>        {{ _('Members') }}      </strong>: {{ data['members'] }}</p>
					
					{% if team.public %}
					<i class="icon icon-eye-open"></i> <strong>{{ _('Type') }}</strong>:{{ _('Public') }}			
					{% else %}
					<i class="icon icon-eye-close"></i> <strong>{{ _('Type') }}</strong>: {{ _('Private') }}
					{% endif %}
					
					<p style="margin:0"><strong><i class="icon-user"></i> {{ _('Created by') }}</strong>: 
					{% if team.owner_id == current_user.id %}{{ _('Me') }}{% else %} {{ team.owner}} {% endif %}
					</p>	
					
					{% if data['rank'] >0 %}
					<p style="margin:0"><strong><i class="icon-user"></i> {{ _('Rank') }}</strong>:{{ data['rank'] }} {{ _('with a score of') }} {{ data['score'] }}</p>
					{% endif %}
					
					{% if not current_user.is_anonymous() %}					    
						{% if team.owner_id != current_user.id %}
							{% if belong == 1%}
							<a href="{{url_for('team.user_delete', name=team.name )}}" class="btn btn-danger"> <i class="icon-trash icon-large"></i> {{ _('Left this team') }}</a>
							{% else %}													   
							<a href="{{url_for('team.user_add', name=team.name )}}" class="btn btn-primary"><i class="icon-edit  icon-large"></i>{{ _('Join this team') }}</a>							
						   {% endif %}
						{% endif %}					
				    {% endif %}
				</div>
			</div> 
		</div>
	</div>	
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This team does not exists.') }}</h1>
    </div>	
	{% endif %}
</div>
{{ helper.broken_image() }}
{% endblock %}



