{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend>{{ _('Reset your Password') }}</legend>
  <form method="post" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.email_addr, placeholder= _('my e-mail') ) }}
      <div class="form-actions">
          <input type="submit" value="{{_('Reset my Password')}}" class="btn btn-primary btn-lg" />
        <a href="{{ url_for('account.signin') }}" class="btn btn-default">{{ _('Cancel') }}</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

