{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

  <legend>{{ _('Reset your Password') }}</legend>
  <form method="post" class="form-horizontal">
      <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.new_password, placeholder=_('my new password')) }}
      {{ render_field(form.confirm, placeholder=_('my new password again')) }}
      <div class="form-actions">
        <input type="submit" value="Save the changes" class="btn btn-primary btn-lg" />
        <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-default">{{ _('Cancel') }}</a>
      </div>
      </fieldset>
  </form>
{% endblock %}

