<div class="well">
  <h2><i class="icon-pencil"></i>Transcribing documents</h2> 
  <h3>Re-use the PDF transcription template</h3>
  <p><strong>Complexity</strong>: <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
  <p><strong>Skills</strong>: HTML, JavaScript and Server side</p>
  <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='pdf')}}" class="btn btn-inverse">Use the Transcription template</a></p>
  <a href="https://github.com/PyBossa/pdftranscribe/archive/master.zip" class="btn btn-inverse">Download the template and work locally</a>
</div>
