<div class="well">
  <h2><i class="icon-music"></i> Sound Pattern Recognition</h2> 
  <h3>Re-use the SoundCloud template</h3>
  <p><strong>Complexity</strong>: <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half"></i></p>
  <p><strong>Skills</strong>: HTML and JavaScript</p>
  <p><a href="{{url_for('app.task_presenter_editor', short_name=app.short_name, template='sound')}}" class="btn btn-inverse">Use the Sound template</a></p>
  <a href="https://github.com/PyBossa/app-soundcloud/archive/master.zip" class="btn btn-inverse">Download the template and work locally</a>
</div>
