[program:rq-worker]
command={{virtualenv_path}}/bin/python app_context_rqworker.py scheduled_jobs super high medium low quaterly email maintenance
directory={{pybossa_path}}
autostart=true
autorestart=true
priority=997
user={{pybossa_user}}
log_stdout=true
log_stderr=true
logfile=/var/log/rq-worker.log
logfile_maxbytes=10MB
logfile_backups=2