<div class="row">
    <div class="col-md-12">
        <h1>Write here your HTML Task Presenter</h1>
    </div>
</div>
<script type="text/javascript">
(function() {
    // Your JavaScript code
    pybossa.taskLoaded(function(task, deferred){
        // When the task is loaded, do....
    });

    pybossa.presentTask(function(task, deferred){
        // Present the current task to the user
        // Load the task data into the HTML DOM
    });

    pybossa.run('{{project.short_name}}');
})();
</script>
