{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% set active_link = 'tasks' %}
{% set section = _('Import tasks') %}

{% from "_formhelpers.html" import render_field %}
{% block projectcontent %}
{% if form %}
<h3>{{_('From an EpiCollect Plus project')}}</h3>
<form method="post" action="{{ url_for(target, short_name=project.short_name) }}">
    <fieldset>
        {{ form.hidden_tag() }}
        <span class="help-inline">{{_('Please provide an EpiCollect Plus project name to import its data for')}} {{ active_project }}.<br/> {{_('For more information, please look at')}} <a href="http://docs.pybossa.com/user/overview/#importing-the-tasks-via-the-built-in-csv-task-importer" target="_blank">{{_('the documentation')}}.</a></span>
        {{ render_field(form.epicollect_project, placeholder=_('The name of the public EpiCollect Plus project')) }}
        {{ render_field(form.epicollect_form, placeholder=_('The name of the project\'s form')) }}
        <div class="form-actions">
            <input type="submit" value="{{_('Import')}}" class="btn btn-primary" />
            <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-default">{{_('Cancel')}}</a>
        </div>
    </fieldset>
</form>
{% endif %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $("#submit").off('click').on('click', function(){
            var msg = "{{_('Importing data...')}}";
            pybossaNotify(msg, true, "loading");
            });
</script>
{% endblock %}
