{% extends "account/email/base.html" %}

{% block subject %}
PyBossa: {{ _('Recover your lost password') }}
{% endblock %}

{% block subtitle %}
{{ _('Hello') }} {{ user.fullname }},

{% endblock %}

{% block body %}
<p>
{{ _('We received a request to recover your password for') }} {{ config.BRAND }}.
</p>
<p>
{{ _('If you did not request this, please ignore this email') }}.
</p>
<p>
{{ _('To recover your password, please visit the URL below') }}:
</p>
<p>
<a href="{{ recovery_url }}">{{ _('Click here to recover your account') }}</a>
</p>
<p>
{{ _('Regards') }},
</p>
<p>
{{ config.BRAND }} Team
</p>
{% endblock %}
