<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }} - PyBossa by Scifabric</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}} - PyBossa by Scifabric</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PYBOSSA is the ultimate crowdsourcing framework to analyze or enrich data that can't be processed by machines alone.">
    <meta name="author" content="Scifabric">

    <!-- Le styles -->
    {% assets filters="libsass", output="css/gen/pybossa.min.css",
              depends="sass/**/*.scss", 
              "sass/_pybossa.scss"%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Analytics or similar solutions -->
    {% include '_ga.html' ignore missing %}
    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}
  </head>

  <body>
    {% set active_page = active_page | default('index') -%}
    {% set active_project  = active_project | default('none') -%}
    {% include "_navbar.html" %}
    {% if not current_user.is_anonymous %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}
    {% block content %}{% endblock %}
    {% include "_footer.html" %}
    <!-- Le javascript -->
    <script id="cookies_warning">
        window.cookieconsent_options = {"message":"Cookies help us to deliver our services. By using our services, you agree to our use of cookies.","dismiss":"Got it!","learnMore":"Learn More.","link":"{{url_for('help.cookies_policy')}}","theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    {% if not jstop %}
    {% assets filters="jsmin", output="js/gen/default.min.js",
              "js/vendor/jquery-2.2.3.js", "js/vendor/bootstrap.js", 
              "js/vendor/modernizr.min.js", "js/flashmessages.js", 
              "js/vendor/cookieconsent.min.js"
              %}
              <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endif %}
    {% block extrajs %}
    {% endblock %}
    {% include "_flash_messages.html" %}
  </body>
</html>
