{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span5 well">
                <h2>Most active applications</h2>
                {% for app in apps %}
                  <h4>{{ app.name }}</h4>
                    <ul>
                      {% if app.last_active != "None" %}
                      <li><strong>Updated</strong>: {{ app.last_activity() }}</li>
                      {% endif %}
                      {% if app.owner.id == current_user.id %}
                      <li><strong>Owner</strong>: Me</li>
                      {% else %}
                      <li><strong>Owner</strong>: {{ app.owner.name }}</li>
                      {% endif %}
                    </ul>
                    <hr>
                    {% endfor %}
            </div>
            <div class="span5 well">
                <h2>Most active volunteers</h2>
                {% for user in users %}
                  <img src="{{ current_user.email_addr | gravatar(size=30)}}">
                  <strong>{{ user.fullname }}</strong>
                    <ul>
                        <li>Total submitted tasks: {{ user.task_runs | length }}</li>
                      <li><strong>Collaborating in</strong>:</li>
                        <ul>
                            {% for app in user.apps %}
                            <li>{{ app.name }}</li>
                            {% endfor %}
                        </ul>
                    </ul>
                    <hr>
                    {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
