{% extends "/base.html" %}
{% set active_page = "leaderboard" %}
{% set active_app  = "all" %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span5 well">
                <h2>Most active applications</h2>
                {% for app in apps %}
                  <h4>{{ app.name }}</h4>
                    <ul style="list-style-type: none;">
                      {% if app.last_activity() == "None" %}
                      <li><strong><i class="icon-time"></i> {{ _('Updated') }}</strong>: {{ _('Not yet') }}</li>
                      {% else %}
                      <li><strong><i class="icon-time"></i> {{ _('Updated') }}</strong>: {{ app.last_activity() }}</li>
                      {% endif %}
                      {% if app.owner.id == current_user.id %}
                      <li><strong><i class="icon-user"></i> {{ _('Owner') }}</strong>: {{ _('Me') }}</li>
                      {% else %}
                      <li><strong><i class="icon-user"></i> {{ _('Owner') }}</strong>: {{ app.owner.name }}</li>
                      {% endif %}
                    </ul>
                    {% if not loop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
            </div>
            <div class="span5 well">
                <h2>Most active volunteers</h2>
                {% for item in top5Users %}
                <div class="row">
                    <div class="span1">
                      <img class="img-polaroid" src="{{ item.user.email_addr | gravatar(size=60)}}">
                    </div>
                    <div class="span3">
                        <strong>{{ item.user.fullname }}</strong>
                          <ul style="list-style-type: none;">
                              <li><i class="icon-tasks"></i> {{ _('Total submitted tasks') }}: {{ item.user.task_runs | length }}</li>
                            {% if item.apps %}
                            <li><strong>{{ _('Collaborating in') }}</strong>:</li>
                              <ul>
                                  {% for app in item.apps %}
                                  {% if app.hidden %}
                                  <li>{{ _('Hidden application') }}</li>
                                  {% else %}
                                  <li><a href="{{ url_for('app.presenter', short_name = app.short_name) }}">{{ app.name }}</a></li>
                                  {% endif %}
                                  {% endfor %}
                              </ul>
                              {% endif %}
                          </ul>
                      </div><!-- end span3-->
                  </div>
                          {% if not loop.last %}
                          <hr>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
