{% extends "projects/base.html" %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "projects/_helpers.html" import render_project_card_coowner %}
{% set active_link  = "settings" %}

{% block projectcontent %}
<div class ="container">
<div class="col-sm-9 col-md-9" style="margin-top:30px;">
<h1>{{ _('Manage Co-owners') }}</h1>
{% from "_formhelpers.html" import render_field %}

<div class="row">
    <form class="form-search" method="POST">
        {{ form.hidden_tag() }}
        <div class="col-md-12">
            <div class="input-group">
                <input id="user" name="user" type="text" class="form-control" placeholder="Search user by nick name">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary "><i class="fa fa-search"></i> {{ _('Search') }}</button>
                </span>
            </div>
        </div>
    </form>
</div>
{% if found %}
<h2>{{ _('Users') }}</h2>
<p><em>{{ _('Users that can be added as co-owners to the project') }}</em></p>
<div class="row">
<div class="col-sm-4 col-md-4">
{{ render_project_card_coowner(project.short_name, found, upload_method, background=True, is_coowner=found.is_coowner, is_creator=found.is_creator)}}
</div>
</div>
{% endif %}

{% if coowners %}
<h1>
<h1>{{ _('Current Co-owners') }}</h1>
<div class="row">
    {% for user in coowners %}
    <div class="col-sm-4 col-md-4">
    {{ render_project_card_coowner(project.short_name, user, upload_method, background=True, is_coowner=True, is_creator=user.is_creator)}}
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
</div> <!-- container -->
{% endblock %}
