{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "tasks" %}
{% set section = _('Export All Tasks and Task Runs') %}

{% from "projects/_helpers.html" import render_project_card_option %}

{% block projectcontent %}
<p>{{ _('You can export and download') }} <strong>{{ _('all the available') }}</strong> {{ _('Tasks and Task Runs (the submitted answers by the users) in CSV or JSON formats.') }}</p>
<div id="csv" class="row">
    <div class="col-md-12 text-center">
        <h3>{{_('Export in CSV format')}}</h3>
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Tasks'), explanation=_('Export tasks in CSV format'), link=url_for('project.export_to', short_name=project.short_name, type='task', format='csv'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Task Runs'), explanation=_('Export task runs in CSV format'), link=url_for('project.export_to', short_name=project.short_name, type='task_run', format='csv'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Results'), explanation=_('Export results in CSV format'), link=url_for('project.export_to', short_name=project.short_name, type='result', format='csv'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>
</div>
<div id="json" class="row">
    <div class="col-md-12 text-center">
        <h3>{{_('Export in JSON format')}}</h3>
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Tasks'), explanation=_('Export tasks in JSON format'), link=url_for('project.export_to', short_name=project.short_name, type='task', format='json'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Task Runs'), explanation=_('Export task runs in JSON format'), link=url_for('project.export_to', short_name=project.short_name, type='task_run', format='json'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>
    <div class="col-md-4">
        {{ render_project_card_option(project, upload_method, title=_('Results'), explanation=_('Export results in JSON format'), link=url_for('project.export_to', short_name=project.short_name, type='result', format='json'), link_action_text=_('Export'), download=True, nofollow=True)}}
    </div>

</div>
{% if current_user.is_authenticated and project.owner_id == current_user.id %}
<div id="ckan" class="row">
    <div class="col-md-12 text-center">
        {% if ckan_name %}
        <h3>{{ _('Export to the') }} {{ckan_name}}</h3>
        {% else %}
        <h3>{{ _('Export to a CKAN server') }}</h3>
        {% endif %}
        <p><span class="label label-warning"><i class="icon-bullhorn"></i> {{ _('IMPORTANT') }}</span> {{ _('This export option stills in beta mode and may fail in the CKAN server. If you get an error, please send an e-mail to info@scifabric.com') }}</p>
    </div>
    {% if current_user.ckan_api %}
    <div class="col-md-6">

        {{ render_project_card_option(project, upload_method, title=_('Task'), explanation=_('Export tasks into a CKAN server '), link=url_for('project.export_to', short_name=project.short_name, type='task', format='ckan'), link_action_text=_('Export'), download=True, nofollow=True, id="ckan_task")}}
    </div>
    <div class="col-md-6">
        {{ render_project_card_option(project, upload_method, title=_('Task Runs'), explanation=_('Export task runs into a CKAN server'), link=url_for('project.export_to', short_name=project.short_name, type='task_run', format='ckan'), link_action_text=_('Export'), download=True, nofollow=True, id="ckan_task_run")}}
        {% else %}
        <p id="ckan_warning">{{ _("You don't have a Datahub.io API key in your") }} {{BRAND}} {{ _('account. Please,') }} <a href="http://datahub.io/user/register">{{ _('create an account') }}</a> {{ _('and copy/paste the API key in your profile in order to use this exporter') }}.</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extrajs %}
<script>
    $("#ckan > a").off('click').on('click', function(){
            var msg = "{{_('Exporting data...')}}";
            pybossaNotify(msg, true, "loading");
            });
</script>
{% endblock %}
