{% extends "projects/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% set active_link = "tasks" %}
{% set section = _('Browse tasks') %}

{% block projectcontent %}
<div class="row">
    <div class="col-md-12">
        <p>{{_('This page shows all the available tasks for this project')}}.</p> 
        <p>{{_('For each task, you can find the following information')}}:
        <ul>
            <li><strong>{{_('Task')}} </strong><span class="label label-info">#0000</span> {{_('This number identifies the task for the project and it is unique')}}</li>
            <li><strong>0 of 30</strong>: {{_('The first number shows how many answers have been submitted for the task and the')}} <a data-placement="top" rel="tooltip" href="#" data-original-title="{{_('This redundancy method will help to detect errors, typos, data forging, etc. when the task has been completed')}}">{{_('second number')}}</a> {{_('how many need to be obtained to mark the task as')}} <strong>{{_('completed')}}</strong>. </li>
            <li><strong>{{_('Progress Bar')}}</strong>: {{_('The progress progress-bar will the percentage that has been completed for the task')}}.</li>
        </ul>
        </p>
    </div>
</div>
{% for t in tasks %}
{% set task_pct = t.pct_status*100 %}
<div class="row">
    <div class="col-md-3">
        {% if task_pct >= 100 %}
        {{_('Task')}} <span class="label label-success">#{{ t.id }}</span>
        {% else %}
        {{_('Task')}} <span class="label label-info">#{{ t.id }}</span>
        {% endif %}
        {{ t.n_task_runs }} {{_('of')}} {{ t.n_answers }}
    </div>
    <div class="col-md-5">
        <div class="progress"> 
            <div class="progress-bar" role="progressbar" aria-valuenow="{{task_pct}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task_pct}}%;">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% if task_pct >= 100 %}
        <a id="fulldownload" rel="nofollow" class="btn btn-success btn-xs" href="{{ url_for('project.export', 
            short_name=project.short_name,
            task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('Download Task Results')}}</a>
        {% elif task_pct > 0 and task_pct < 100 %}
        <a id="partialdownload" rel="nofollow" class="btn btn-info btn-xs" href="{{ url_for('project.export', 
            short_name=project.short_name,
            task_id=t.id) }}"><i class="fa fa-cloud-download"></i> {{_('Download Partial results')}}</a>

        {% else %}
        <a id="nothingtodownload" rel="nofollow" class="btn btn-info btn-xs disabled" href="#"><i class="fa fa-cloud-download"></i> {{_('Nothing to download yet')}}</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if pagination.pages > 1 %}
<div class="row">
    <div class="col-md-12 text-center">
        {{ render_pagination(pagination) }}
    </div>
</div>
{% endif %}
{% endblock %}
