.project-item{
	padding: 15px;
	background-color: #f5f7f7;
	margin-top: 20px;
}

.project-item:last-child{
	margin-bottom: 20px;
}

.project-btn{
	margin-top: 15px;
}

.categories{
	margin-top: 25px;
}
