{% macro render_pagination(pagination, handle) %}
  <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
          <li>
          <a href="{{ url_for_other_page(pagination.page - 1)
              }}">&laquo; {{_('Prev')}} {{handle}}</a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
             </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
          <a href="{{ url_for_other_page(pagination.page + 1)
              }}">{{_('Next')}} {{handle}}&raquo;</a>
          </li>
        {% endif %}
    </ul>
  </div>
{% endmacro %}

{% macro render_app_local_nav(app, active_link, current_user) -%}
<ul data-spy="affix" data-offset-top="200px" class="nav nav-list bs-docs-sidenav affix-top">
    <li {% if active_link=="info"%}class="active"{% endif %}><a href="{{url_for('app.details', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Info</a></li>
    <li {% if active_link=="contribute"%}class="active"{% endif %}><a href="{{url_for('app.presenter', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Contribute</a></li>
    <li {% if active_link=="export"%}class="active"{% endif %}><a href="{{url_for('app.export_to', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Export Tasks and Task Runs</a></li>
    <li {% if active_link=="tasks"%}class="active"{% endif %}><a href="{{url_for('app.tasks', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Tasks</a></li>
    <li {% if active_link=="stats"%}class="active"{% endif %}><a href="{{url_for('app.show_stats', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Statistics</a></li>
    {% if ( current_user.is_authenticated() and current_user.id == app.owner.id ) or current_user.admin %}
    <li {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('app.settings', short_name=app.short_name)}}"><i class="icon-chevron-right"></i> Settings</a></li>
    {% endif %}
</ul>
{% endmacro %}

{% macro render_app_summary(app, current_user) -%}
<div class="row-fluid">
    <div class="span2">
        {% if app.info.thumbnail %}
        <img class="img-polaroid" src="{{app.info.thumbnail}}" onerror="imgError(this);"/>
        {% else %}
        <img class="img-polaroid" src="{{url_for('static', filename='img/placeholder.png')}}"/>
        {% endif %}
    </div>
    <div class="span8">
      <ul style="list-style-type: none; font-size: 16px;">
        {% if current_user.id == app.owner.id %}
        <li><strong><i class="icon-cog"></i> {{ _('ID') }}</strong>: {{ app.id }}</li>
        {% endif %}
        <li><strong><i class="icon-info-sign"></i> {{ _('Description') }}</strong>: {{ app['description'] }}</li>
        <li><strong><i class="icon-ok"></i> { _('Creation Date') }}</strong>: {{ app.created[0:10] }}</li>
        <li><strong><i class="icon-time"></i> {{ _('Last Activity') }}</strong>: {{ app.last_activity()}}</li>
        <li><strong><i class="icon-cogs"></i> {{ _('Overall progress') }}</strong>: {{ ( app.completion_status() * 100) | round(2, 'floor') }}% {{ _('completed') }}</li>
        <li><strong><i class="icon-tasks"></i> <a href="{{url_for('app.tasks',short_name=app.short_name)}}">{{ _('Tasks') }}</strong></a> ({{ app.tasks | count }})</li>
        {% if not current_user.is_anonymous() %}
        <li>{% if app.hidden == 1 %}
            <i class="icon icon-eye-close"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('Yes') }}
        {% else %} 
            <i class="icon icon-eye-open"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('No') }}
        {% endif %}
        </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endmacro %}

{% macro render_app_short_summary(app, current_user) -%}
<div class="row-fluid well well-small">
    <div class="span3">
        {% if app.info.thumbnail %}
        <img class="img-polaroid" src="{{app.info.thumbnail}}" onerror="imgError(this);" style="max-width:100px"/>
        {% else %}
        <img class="img-polaroid" src="{{url_for('static', filename='img/placeholder.png')}}" style="max-width:100px"/>
        {% endif %}
    </div>
    <div class="span9">
        <h2><a href="{{url_for('app.settings', short_name=app.short_name)}}">{{app.name}}</a></h2>
        <p>{{ app['description'] }}</p>
        <a class="btn btn-inverse" href="{{url_for('app.settings', short_name=app.short_name)}}"><i class="icon-wrench"></i> {{ _('Settings') }}</a>
    </div>
</div>
{% endmacro %}


{% macro show_app(app, class="", current_user) -%}
<div class="row-fluid {{class}} well">
    <h2><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{ app.name }}</a></h2>
    <div class="row-fluid">
        <div class="span3">
            {% if app.info.thumbnail %}
            <img class="thumbnail" src="{{ app.info.thumbnail }}" style="max-width:100px; max-height:100px" onerror="imgError(this);">
            {% else %}
            <img class="thumbnail" src="{{url_for('static', filename='img/placeholder.png')}}" style="max-width:100px;">
            {% endif %}
        </div> <!-- End of span3 -->
        <div id="data" class="span9">
            <p style="margin:0"><strong><i class="icon-info-sign"></i> {{ _('Description') }}</strong>: {{ app.description }}</p>
            <p style="margin:0"><strong><i class="icon-ok"></i> {{ _('Creation Date') }}</strong>: {{ app.created[0:10] }}</p>
            {% if app.last_activity != None %}
            <p style="margin:0"><strong><i class="icon-time"></i> {{ _('Last Activity') }}</strong>: {{ app.last_activity}}</p>
            {% endif %}
            <p style="margin:0"><strong><i class="icon-cogs"></i> {{ _('Overall progress') }}</strong>: {{ app.overall_progress | round(2, 'floor') }}% completed</p>
            {% if app.owner_id == current_user.id %}
            <p style="margin:0"><strong><i class="icon-user"></i> {{ _('Created by') }}</strong>: {{ _('Me') }}</p>
            {% else %}
            <p style="margin:0"><strong><i class="icon-user"></i> {{ _('Created by') }}</strong>: {{ app.owner }}</p>
            {% endif %}
            {% if class != "app-draft" %}
            <p style="margin:0"><a class="btn btn-primary" href="{{ url_for('app.presenter', short_name = app.short_name) }}"><i class="icon icon-white icon-ok"></i> {{ _('Try it!') }}</a></p>
            {% endif %}
        </div> <!-- end of id=data class=span8 -->
    </div> <!--end of class=row -->
</div><!-- end of class=row -->
{%- endmacro %}

{% macro broken_image() %}
<script>
function imgError(image) {
    image.onerror = "";
    image.src = "{{url_for('static', filename='img/placeholder.png')}}";
    return true;
}
</script>
{% endmacro %}

{% macro render_grid_apps(apps, title) %}
    <div class="banner">
        <div class="row-fluid">
            <div class="span4">
                <h1>{{title}}</h1>
            </div>
            <div class="span8">
              <ul class="featured">
                  {% for app in apps %}
                  <li><a href={{ url_for('app.details', short_name=app.short_name)}}>
                      {% if app.info.thumbnail %}
                      <img src="{{app.info.thumbnail}}" style="min-height:100px; min-width:100px;">
                      {% else %}
                      <img src="{{url_for('static', filename="img/placeholder.dark.png")}}">
                      {% endif %}
                      <h3>{{app.name}}</h3>
                      <span class="label label-info">{{ _('Info') }}</span>
                      </a>
                  </li>
                  {% endfor %}
                  {% for number in range(18 - apps |count) %}
                  <li></li>
                  {% endfor %}
              </ul>
            </div>
        </div>
    </div>
{% endmacro %}
