{% extends "applications/app.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% block update %}
  <div class="row" style="padding-top:20px">
      <hr>
          <div class="span12" style="text-align:center">
              <a class="btn btn-info"   href="{{ url_for('app.update', short_name = app.short_name) }}"><i class="icon-edit icon-white"></i> Edit the application</a>
              <a class="btn btn-danger" href="{{ url_for('app.delete', short_name = app.short_name) }}"><i class="icon-trash icon-white"></i> Delete the application</a>
          </div>
  </div>
{% endblock %}
