{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
<div class="row">
    {% if app %}
    <div class="span3">
        {{ helper.render_app_local_nav(app, 'info', current_user) }}
    </div>
    <!-- Application -->
    <div class="span9" style="min-height:400px">
        <h1>
        {% if app.info.thumbnail %}
            <img class="img-polaroid" src="{{app.info.thumbnail}}" style="max-width:60px;" onerror="imgError(this);"> 
        {% else %}
            <img class="img-polaroid" src="{{url_for('static', filename='img/placeholder.png')}}" style="max-width:60px;" onerror="imgError(this);"> 
        {% endif %}
        <strong>{{ app.name }}</strong></h1>
        <hr>
        <h2><i class="icon-cogs"></i> {{_('Overall progress')}}</strong>: {{ ( app.completion_status()*100 ) | round(2, 'floor') }}% {{_('completed')}}
        <a href="{{ url_for('app.presenter', short_name=app.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Start Contributing Now!') }}</a>
        </h2>
        {% if app.long_description %}
        <hr>
            {{ app.long_description|safe}}
        {% endif %}
        <hr>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This app does not exists.') }}</h1>
    </div>
{% endif %}
</div>
{{ helper.broken_image() }}
{% endblock %}
