{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
<div class="row">
    {% if app %}
    <div class="span3">
        {{ helper.render_app_local_nav(app, 'info', current_user) }}
    </div>
    <!-- Application -->
    <div class="span9" style="min-height:400px">
        {{ helper.render_app_title(app)}}
        <hr>
        {{ helper.render_overall_progress(app, n_tasks, overall_progress) }}
        {% if app.long_description %}
        <hr>
            {{ app.long_description|safe}}
        {% endif %}
        <hr>
        <div id="ckan" style="display:none">
        <h2>Data repository: {{ckan_name | default('CKAN server')}}</h2>
        <p><i class="icon-bar-chart" style="font-size:16px;"></i> <a href="{{ckan_url}}/dataset/{{app.short_name}}">Preview the data</a>
        </p>
        <p id="ckan_license" style="display:none"><strong>Data License</strong>: <span id="ckan_license_value"></span></p>
        </div>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This app does not exists.') }}</h1>
    </div>
{% endif %}
</div>
<script>
    var url = "{{ckan_url}}/api/3/action/package_show";
    $.get(url, {id: '{{ckan_pkg_name}}'}, function(data){
            if (data['success'] == true) {
                $("#ckan").show();
                if (data['result']['license_title'] != null) {
                    $("#ckan_license").show();
                }
            }
            });
</script>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
