{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% block content %}
{% if app %}
  <div class="page-header">
    <h1>{{ app['name'] }}</h1>
  </div>
  <div class="row">
    <div class="span8">
      <ul>
        <li>Description: {{ app['description'] }}</li>
        <li>Creation Date: {{ app.created[0:10] }}</li>
        <li>Last Activity: {{ app.last_activity()[0:10]}}</li>
      </ul>
    </div>
    <div class="span4">
      <h4>Completed tasks</h4>
      <div class="progress progress-info progress-striped">
              <div class="bar" style="width:{{ app.completion_status()*100 }}%;"></div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="span12">
          <form class="form-horizontal" method="post" action="{{ url_for('app.delete', short_name = app.short_name) }}">
              {{ form.hidden_tag() }}
              <fieldset>
                  <h3>Are you sure you want to delete this application and all its tasks?</h3>
                  <div class="form-actions">
                    <input type="submit" class="btn" value="Yes, delete it"/>
                    <a href="{{ url_for('app.details', short_name = app.short_name) }}" class="btn btn-large btn-primary">No, do not delete it!</a>
                 </div>
      </div>
  </div>
{% else %}
  <div class="page-header">
    <h1>Sorry! This app does not exists.</h1>
  </div>
{% endif %}
{% endblock %}
