{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% import "applications/_helpers.html" as helper %}

{% block content %}

<div class="row">
    <div class="span12">
        <h1>Applications</h1>
    </div>
    <br/>
    <div class="span12" style="font-size:16px">
        <p>{{ _('Here you can find a list of all registered applications in') }} {{brand}}.</p>
        <p>{{ _('The applications can be sorted in three categories:') }}</p>
        <ul style="list-style:none">
            <li><strong><i class="icon-star"></i> {{ _('Featured') }}:</strong> {{ _('a special selection of the most interesting applications.') }}</li>
            <li><strong><i class="icon-th"></i> {{ _('Published') }}:</strong> {{ _('all available applications.') }}</li>
            <li><strong><i class="icon-wrench"></i> {{ _('Draft') }}:</strong> {{ _('the only applications where you') }}  <i>{{ _('cannot contribute for the moment') }}</i> ({{ _('the owners have not published them yet') }}).</li>
        </ul>
        <p>{{ _('Therefore, pick up a published or featured application and help the project!') }}</p>
    </div>
</div>

{% if apps %}
<div class="row app-draft">
    <div class="span12">
        <h2><i class="icon-wrench"></i> Draft: <small>{{pagination.total_count}} {{ _('apps in this category') }}</small></h2>
    </div>
</div>
{% endif %}

{% for app in apps %}
{{ helper.show_app(app, "app-draft", current_user) }}
{% endfor %}

<div class="row">
    <div class="span9 offset2" style="text-align:center">
        <a class="btn btn-small" href="{{url_for('app.index')}}"><i class="icon-th"></i> {{ _('Check also the published applications') }}</a>
    </div>
    <div class="span9 offset2">
        {{ helper.render_pagination(pagination) }}
    </div>
</div>


<div class="row">
    <div class="span12 well" style="text-align:center">
        <a href="{{ url_for('app.new')}}" class="btn btn-large btn-inverse"><i class="icon-white icon-plus"></i> {{ _('Create an application!') }}</a>
    </div>
</div>
{% endblock %}
