{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% block content %}
<div class="page-header">
  <h1>Available Projects</h1>
</div>
{% for app in apps %}
<div id="app" class="row">
    <div id="buttons" class="span10 well">
      <div id="img" class="row">
        <div class="span2">
            <ul class="thumbnails">
                <li>
                  <img class="thumbnail" src="http://placehold.it/100x100">
                </li>
            </ul>
        </div>
        <div id="data" class="span8">
            <h2><a href="{{ url_for('app.details', short_name = app.short_name) }}">{{ app.name }}</a></h2>
          <ul>
            <li><strong>Description</strong>: {{ app.description }}</li>
            <li><strong>Creation Date</strong>: {{ app.created[0:10] }}</li>
            {% if app.last_activity() != "None" %}
            <li><strong>Last Activity</strong>: {{ app.last_activity() }}</li>
            {% endif %}
            {% if app.owner.id == current_user.id %}
            <li><strong>Owner</strong>: Me</li>
            {% else %}
            <li><strong>Owner</strong>: {{ app.owner.name }}</li>
            {% endif %}
            </ul>
            <a class="btn btn-primary" href="{{ url_for('app.presenter', short_name = app.short_name) }}"><i class="icon icon-white icon-ok"></i> Do some tasks!</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}
