{% extends "/base.html" %}
{% set active_page = "create" %}
{% set active_link  = "applications" %}
{% import "account/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div id="app-form" class="row"> 
    <div class="span3">
        {{ helper.render_account_local_nav(current_user, active_link) }}
    </div>
    <div class="span9">
        <h1><strong>Application</strong>: Create a new application</h1>
    <form class="form-horizontal" method="post" action="{{ url_for('app.new') }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.name, class_="span4", placeholder="The name of the application") }}
            {{ render_field(form.short_name, class_="span4", placeholder="Short name or slug for the application") }}
            {{ render_field(form.description, class_="span4", placeholder="Give some details about the application")}}
            {{ render_field(form.thumbnail, class_="span4", placeholder="Paste the direct link to your app icon")}}
            {{ render_field(form.allow_anonymous_contributors, class_="span4")}}
            {{ render_field(form.long_description, class_="span4", placeholder="Explain the application (you can use HTML code!)")}}
            {{ render_field(form.sched, class_="span4", placeholder="Task scheduler for your app", tooltip="Select how to distribute the tasks")}}
            {{ render_field(form.hidden, tooltip="Do you want to hide your app?")}}
            <div class="form-actions">
                <input type="submit" value="Create the application" class="btn btn-primary" />
                <a href="{{url_for('account.profile')}}" class="btn">Cancel</a>
            </div>
        </fieldset>
    </form>
    </div>
</div>
<script>
    $("span[rel='tooltip']").tooltip();
    $("i[rel='tooltip']").tooltip();
</script>
{% endblock %}
