{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_link  = "tasks" %}
{% import "applications/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{% if app %}
        <div class="row">
            <div class="span3">
                {{ helper.render_app_local_nav(app, 'tasks', current_user) }}
            </div>
            <div class="span9">
                {{ helper.render_app_title(app, subtitle=_('Task Redundancy'))}}
                <form class="form-horizontal" method="post" action="{{ url_for('app.task_n_answers', short_name=app.short_name) }}">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        {{ render_field(form.n_answers, class_="input-block-level", placeholder= _('The number of answers per tasks that you want for the application')) }}
                        <div class="form-actions">
                            <input type="submit" value={{_('Set redundancy')}} class="btn btn-primary" />
                            <a href="{{url_for('app.tasks', short_name=app.short_name)}}" class="btn">{{_('Cancel')}}</a>
                        </div>
                    </fieldset>
                </form>
            </div><!-- span9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This app does not exists')}}.</h1>
  </div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
