{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_link  = "tasks" %}
{% import "applications/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{% if app %}
        <div class="row">
            <div class="span3">
                {{ helper.render_app_local_nav(app, 'tasks', current_user) }}
            </div>
            <div class="span9">
                {{ helper.render_app_title(app, subtitle=_('Task Priority'))}}
                <p>You can change the <strong>priority</strong> of one or more tasks, providing a list of task IDs separeted by commas. The lowest priority is <span class="badge badge-warning">0.0</span> and the highest priority is <span class="badge badge-info">1.0</span>.</p>
                <p><span class="label label-info"><i class="icon-bullhorn"></i> Important</span> The priory value is only respected by the <strong>default scheduler</strong>.</p>
                <form id="task_priority" class="form-horizontal" method="post" action="{{ url_for('app.task_priority', short_name=app.short_name) }}">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        {{ render_field(form.task_ids, class_="span4", placeholder="Comma separated Task.IDs i.e.: 3, 532, 100")}}
                        {{ render_field(form.priority_0, class_="span4", placeholder="Priority value between 0.0 and 1.0")}}
                        <div class="form-actions">
                            <input type="submit" value={{_('Change Priority')}} class="btn btn-primary" />
                            <a href="{{url_for('app.tasks', short_name=app.short_name)}}" class="btn">{{_('Cancel')}}</a>
                        </div>
                    </fieldset>
                </form>
            </div><!-- span9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This app does not exists')}}.</h1>
  </div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
