{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "tasks" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
{% if app %}
        <div class="row">
            <div class="span3">
                {{ helper.render_app_local_nav(app, 'tasks', current_user) }}
            </div>
            <div class="span9">
                <h1><strong>{{app.name}}</strong>: {{_('Tasks')}}</h1>
                <div class="row-fluid">
                    <div class="span6 well">
                        <h2>Task Presenter</h2>
                        <p>Edit the task presenter</p>
                        <a href="{{url_for('app.task_presenter_editor', short_name=app.short_name)}}" class="btn"><i class="icon-edit"></i> Editor</a>
                    </div>
                    <div class="span6 well">
                        <h2>Settings</h2>
                        <p>Configure the task scheduler, redundancy, etc.</p>
                        <a href="#" class="btn"><i class="icon-cog"></i> Settings</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 well">
                        <h2>Import Tasks</h2>
                        <p>Import tasks from templates, GDrive, or CSV</p>
                        <a href="{{url_for('app.import_task', short_name=app.short_name)}}" class="btn"><i class="icon-upload"></i> Import</a>
                    </div>
                    <div class="span6 well">
                        <h2>Export Tasks</h2>
                        <p>Export tasks to JSON, CSV or a CKAN server</p>
                        <a href="{{url_for('app.export_to', short_name=app.short_name)}}" class="btn"><i class="icon-download"></i> Export</a>
                    </div>
                </div>
            </div><!-- span9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This app does not exists')}}.</h1>
  </div>
{% endif %}
{% endblock %}
