{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_link  = "tasks" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
{% if app %}
        <div class="row">
            <div class="span3">
                {{ helper.render_app_local_nav(app, 'tasks', current_user) }}
            </div>
            <div class="span9">
                {{ helper.render_app_title(app, subtitle=_('Tasks'))}}
                <hr>
                {{ helper.render_overall_progress(app, n_tasks, overall_progress, show_contribute_btn=False, show_n_tasks=True) }}
                <hr>
                {% if app.owner_id == current_user.id or (current_user.is_authenticated() and current_user.admin)%}
                <div class="row-fluid">
                    <div id="import_tasks" class="span6 well">
                        <h2><i class="icon-upload"></i> {{_('Import Tasks')}}</h2>
                        <p>{{_('Import tasks from templates, GDrive, or CSV')}}</p>
                        <a href="{{url_for('app.import_task', short_name=app.short_name)}}" class="btn btn-primary">{{_('Import')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="export_tasks" class="span6 well">
                        <h2><i class="icon-download"></i> {{_('Export Tasks')}}</h2>
                        <p>{{_('Export tasks to JSON, CSV or a CKAN server')}}</p>
                        <a href="{{url_for('app.export_to', short_name=app.short_name)}}" class="btn btn-primary">{{_('Export')}} <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="task_presenter" class="span6 well">
                        <h2><i class="icon-edit"></i> {{_('Task Presenter')}}</h2>
                        <p>{{_('Edit the task presenter')}}</p>
                        <a href="{{url_for('app.task_presenter_editor', short_name=app.short_name)}}" class="btn btn-primary">{{_('Editor')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="task_settings" class="span6 well">
                        <h2><i class="icon-cog"></i> {{_('Settings')}}</h2>
                        <p>{{_('Configure the task scheduler, redundancy, etc.')}}</p>
                        <a href="{{url_for('app.task_settings', short_name=app.short_name)}}" class="btn btn-primary">Settings <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="task_browse" class="span6 well">
                        <h2><i class="icon-road"></i> {{_('Browse')}}</h2>
                        <p>{{_('Check the status of the tasks')}}</p>
                        <a href="{{url_for('app.tasks_browse', short_name=app.short_name)}}" class="btn btn-primary">Browse <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                {% else %}
                <div class="row-fluid">
                    <div id="task_browse" class="span6 well">
                        <h2><i class="icon-road"></i> {{_('Browse')}}</h2>
                        <p>{{_('Check the status of the tasks')}}</p>
                        <a href="{{url_for('app.tasks_browse', short_name=app.short_name)}}" class="btn btn-primary">Browse <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="export_tasks" class="span6 well">
                        <h2><i class="icon-download"></i> {{_('Export Tasks')}}</h2>
                        <p>{{_('Export tasks to JSON, CSV or a CKAN server')}}</p>
                        <a href="{{url_for('app.export_to', short_name=app.short_name)}}" class="btn btn-primary">{{_('Export')}} <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                {% endif %}
            </div><!-- span9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This app does not exists')}}.</h1>
  </div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
