{% extends "/base.html" %}
{% set active_page = "applications" %}
{% import "applications/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="row">
    <div class="span3">
        {{ helper.render_app_local_nav(app, 'settings', current_user) }}
    </div>
  <div class="span9">
      <legend><strong>{{app.name}}</strong>: Update the application</legend>
    <form class="form-horizontal" method="post" action="{{ url_for('app.update', short_name = app.short_name) }}">
      <fieldset>
        {{form.id}}
        {{ form.hidden_tag() }}
        {{ render_field(form.name, class_="input-xlarge", placeholder="The name of the application") }}
        {{ render_field(form.short_name, class_="input-xlarge", placeholder="Short name or slug for the application") }}
        {{ render_field(form.description, class_="input-xlarge", placeholder="Give some details about the application")}}
        {{ render_field(form.thumbnail, class_="input-xlarge", placeholder="Paste the direct link to your app icon")}}
        {{ render_field(form.allow_anonymous_contributors)}}
        {{ render_field(form.long_description, class_="input-xlarge", placeholder="Explain the application (you can use HTML code!)")}}
        {{ render_field(form.sched, placeholder="Task scheduler for your app", tooltip="Select how to distribute the tasks")}}
        {{ render_field(form.hidden, tooltip="Do you want to hide your app?")}}
        <div class="form-actions">
          <input type="submit" value="Save the changes" class="btn btn-primary" />
          <a href="{{url_for('app.settings', short_name=app.short_name)}}" class="btn">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script>
    $("i[rel='tooltip']").tooltip();
</script>
{% endblock %}
