{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
    <div class="row">
        <div class="span11">
            <h1>{{ _('About') }}</h1>
            <p>
            {{ _('PyBossa is a free, open-source crowd-sourcing and micro-tasking platform. It enables people to create and run projects that utilise online assistance in performing tasks that require human cognition such as image classification, transcription, geocoding and more. PyBossa is there to help researchers, civic hackers and developers to create projects where anyone around the world with some time, interest and an internet connection can contribute.') }}</p>

            <p>
            {{ _('PyBossa is different to existing efforts:') }}
            <ul>
                <li>{{ _('It\’s a 100%% open-source') }}</li>
                <li>{{ _('Unlike, say, “mechanical turk” style projects, PyBossa is not designed to handle payment or money — it is designed to support volunteer-driven projects.') }}
                </li>
                <li>{{ _('It\’s designed as a platform and framework for developing deploying crowd-sourcing and microtasking apps rather than being a crowd-sourcing application itself. Individual crowd-sourcing apps are written as simple snippets of Javascript and HTML which are then deployed on a PyBossa instance \(such as_') }}  <a href="http://crowdcrafting.org">CrowdCrafting.org</a>). {{ _('This way one can easily develop custom apps while using the PyBossa platform to store your data, manage users, and handle workflow') }}.</li>
            </ul> 
            </p>

            <p>
            {{ _('You can read more about the architecture in the') }} <a href="http://docs.pybossa.com/">{{ _('PyBossa Documentation') }}</a> {{ _('and follow the') }} <a href="http://docs.pybossa.com/en/latest/user/tutorial.html">{{ _('step-by-step tutorial to create your own apps') }}.</a>.
            </p>

            <h1>{{ _('Statistics') }}</h1>
            <p>
           {{ _(' PyBossa provides individual statistics for every application in the system, as well as a') }} <a href="{{url_for('stats.index')}}">{{ _('general overview about the system like total number of users, tasks, etc') }}</a>. 
            </p>
            <a href="{{url_for('stats.index')}}" class="btn btn-primary"><i class="icon-dashboard"></i> {{ _('Check the global statistics') }}</a>

            <h1>{{ _('Contact information') }}</h1>
            <ul>
                <li>{{ _('For more info, send us an e-mail to: ') }}<a href="mailto:info@pybossa.com">info@pybossa.com</a> or <a class="btn" href="http://twitter.com/pybossa"><i class="icon-twitter"></i>{{ _('Follow us on Twitter!') }}</a></li>
                <li>{{ _('E-mail list: ') }}<a href="http://lists.okfn.org/mailman/listinfo/okfn-labs">okfn-labs@lists.okfn.org</a>.</li>                
                <li><p>{{ _('Report any bug, issue or improvement:') }} 
                    <a class="btn" href="http://github.com/PyBossa/pybossa/issues">
                        <i class="icon-github"></i>{{ _('Github Issues') }}
                    </a>
                    </li>            
            </ul>
        </div>
    </div>

{% endblock %}
