{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>Welcome to PyBossa!</h1>
        <p>PyBossa makes it easy to ....</p>
        <p><a class="btn primary large" href="/faq">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third column">
          <h2>Search ...</h3>
          <p>...</p>
          <p><a href="/search" class="btn">Search now &raquo;</a></p>
        </div>
        <div class="span-one-third column">
          <h2>Something Else</h2>
        </div>
        <div class="span-one-third column">
          <h2>Recent ...</h2>
        </div>
      </div>
{% endblock %}
