{% extends "base.html" %}

{% block content %}

      <div class="banner">
        <div class="row">
          <div class="span4">
            <h1>Volunteer Crowdsourcing for Good</h1>
            <p>Online assistance in performing tasks that require human cognition, knowledge or intelligence such as image classification, transcription, geocoding and more!</p>
            <ul>
              <li>Help advance research</li>
              <li>Everything is open and freely usable</li>
              <li>Things computers can't do</li>
            </ul>
          </div>
          <div class="span8">
            <ul class="featured">
              <li><a href="#"><img src="http://img41.imageshack.us/img41/6581/urbanparksthumbnail.png"><h3>Urban Parks</h3><span class="label label-info">Info</span></a></li>
              <li><a href="#"><img src="http://imageshack.us/a/img560/7351/feynmanthumbnail.png"><h3>Feynman's Flowers</h3><span class="label label-info">Info</span></a></li>
              <li><a href="#"><img src="http://img37.imageshack.us/img37/156/flickrpersonthumbnail.png"><h3>Flickr Person Finder</h3><span class="label label-info">Info</span></a></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <section class="grey get-started">
        <div class="row">
          <div class="span4">
       		  <h2><i class="icon-play-circle"></i> Get Started</h2>
            <p>It's really simple to start contributing.</p>
          </div>
          <div class="span8">
            <a href="#" class="btn btn-info btn-large"><i class="icon-ok-sign"></i> Start Contributing</a> <a href="#" class="btn btn-primary btn-large"><i class="icon-plus-sign"></i> Create an App</a>
          </div>
      </section>
      
      <section>
        <h2><i class="icon-th"></i> Most Active Applications</h2>
        <div class="row">
          <div class="span3">
            <div class="app box">
              <a href="#" class="image" style="background-image:url(http://imageshack.us/a/img560/7351/feynmanthumbnail.png)"></a>
              <h3>Feynman's flowers</h3>
              <p>Help us with our nano garden!</p>
              <p><a href="#" class="btn btn-mini btn-info">Info</a> <a href="#" class="btn btn-mini btn-primary">Start</a></p>
            </div>
          </div>
          <div class="span3">
            <div class="app box">
              <a href="#" class="image" style="background-image:url(http://img37.imageshack.us/img37/156/flickrpersonthumbnail.png)"></a>
              <h3>Flickr Person Finder</h3>
              <p>Do you see a human in this photo?</p>
              <p><a href="#" class="btn btn-mini btn-info">Info</a> <a href="#" class="btn btn-mini btn-primary">Start</a></p>
            </div>
          </div>
          <div class="span3">
            <div class="app box">
              <a href="#" class="image" style="background-image:url(http://img138.imageshack.us/img138/4774/melanomathumbnail.png)"></a>
              <h3>Melanoma</h3>
              <p>Is this photo showing a melanoma?</p>
              <p><a href="#" class="btn btn-mini btn-info">Info</a> <a href="#" class="btn btn-mini btn-primary">Start</a></p>
            </div>          </div>
          <div class="span3">
            <div class="app box">
              <a href="#" class="image" style="background-image:url(http://img41.imageshack.us/img41/6581/urbanparksthumbnail.png)"></a>
              <h3>Urban Parks</h3>
              <p>Find one urban park for this city</p>
              <p><a href="#" class="btn btn-mini btn-info">Info</a> <a href="#" class="btn btn-mini btn-primary">Start</a></p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="grey">
        <h2><i class="icon-group"></i> Most Active Volunteers</h2>
        <ul class="users">
          <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-09-19
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 264
              " rel="popover" data-original-title="&lt;strong&gt;Quentin Mazars-Simon&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/538eae7095d6ac84bfeff381f5b9bd30?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label label-success">234</span> <small>Tasks</small>
          </li>
          <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-06-06
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Melanoma
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Flickr Person Finder
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Urban Parks
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Feynman's flowers
              
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 146
              " rel="popover" href="#" data-original-title="&lt;strong&gt;Daniel Lombraña González&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/0555bf088179d4a2b03571cfa47511ef?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">146</span> <small>Tasks</small>
          </li>
           <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-09-19
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 264
              " rel="popover" data-original-title="&lt;strong&gt;Quentin Mazars-Simon&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/538eae7095d6ac84bfeff381f5b9bd30?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">234</span> <small>Tasks</small>
          </li>
          <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-06-06
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Melanoma
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Flickr Person Finder
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Urban Parks
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Feynman's flowers
              
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 146
              " rel="popover" href="#" data-original-title="&lt;strong&gt;Daniel Lombraña González&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/0555bf088179d4a2b03571cfa47511ef?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">146</span> <small>Tasks</small>
          </li>
           <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-09-19
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 264
              " rel="popover" data-original-title="&lt;strong&gt;Quentin Mazars-Simon&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/538eae7095d6ac84bfeff381f5b9bd30?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">234</span> <small>Tasks</small>
          </li>
          <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-06-06
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Melanoma
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Flickr Person Finder
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Urban Parks
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Feynman's flowers
              
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 146
              " rel="popover" href="#" data-original-title="&lt;strong&gt;Daniel Lombraña González&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/0555bf088179d4a2b03571cfa47511ef?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">146</span> <small>Tasks</small>
          </li>
           <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-09-19
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 264
              " rel="popover" data-original-title="&lt;strong&gt;Quentin Mazars-Simon&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/538eae7095d6ac84bfeff381f5b9bd30?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">234</span> <small>Tasks</small>
          </li>
          <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-06-06
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Melanoma
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Flickr Person Finder
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Urban Parks
              
              &lt;br/&gt;
              &lt;strong&gt;Owner of:&lt;/strong&gt; Feynman's flowers
              
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 146
              " rel="popover" href="#" data-original-title="&lt;strong&gt;Daniel Lombraña González&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/0555bf088179d4a2b03571cfa47511ef?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">146</span> <small>Tasks</small>
          </li>
           <li>
            <a data-content="
              &lt;strong&gt;Joined:&lt;/strong&gt; 2012-09-19
              &lt;br/&gt;
              &lt;strong&gt;Submitted Tasks:&lt;/strong&gt; 264
              " rel="popover" data-original-title="&lt;strong&gt;Quentin Mazars-Simon&lt;/strong&gt;">
                <img src="http://gravatar.com/avatar/538eae7095d6ac84bfeff381f5b9bd30?s=90&amp;d=mm&amp;r=g">
           </a>
           <span class="label">234</span> <small>Tasks</small>
          </li>
        </ul>
      </section>

      <div class="hero-unit">
        <h1>Welcome to {{ title }}!</h1>
        <p>{{description|safe}}</p>
        <p><a class="btn btn-primary btn-large" href="{{ url_for('app.index') }}">Start contributing now &raquo;</a></p>
      </div>

      {% if frontPageApps %}
      <div class="row">
          <div class="span12" style="text-align:center">
              <h1>Featured applications</h1>
              <br/>
          </div>
      </div>
      {% endif %}
      <div class="row">
          {% for app in frontPageApps %}
            <div class="span4">
                <div class="row">
                    <div class="span1">
                        <ul class="thumbnails">
                            <li class="span1">
                                <div class="thumbnail">
                                    {% if app.info.thumbnail %}
                                    <img src="{{ app.info.thumbnail }}">
                                    {% else %}
                                    <img src="{{url_for('static', filename='img/app.png')}}">
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span3">
                        {% if app.name == "Your application" and app.description == "Could be here!" %}
                        <h4>{{ app.name }}</h4>
                        <h5>{{ app.description }}</h5>
                        <a href="{{ url_for('app.new')}}" class="btn btn-mini btn-inverse"><i class="icon-white icon-plus"></i> Create an application!</a>
                        {% else %}
                        <h4>
                            <a href="{{ url_for('app.details', short_name = app.short_name) }}">
                                {{ app.name }}
                            </a>
                        </h4>
                        <h5>{{ app.description }}</h5>
                        <a href="{{ url_for('app.presenter', short_name = app.short_name )}}" class="btn btn-mini btn-primary"><i class="icon-white icon-play-circle"></i> Try it!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% endfor %}
      </div>
      {% if threeApps or frontPageApps | count == 0 %}
      <div class="row">
          <div class="span12" style="text-align:center; padding-top:15px;">
              <a class="btn btn-large btn-inverse" href="{{ url_for('app.new') }}">
                  <i class="icon icon-white icon-plus"></i> 
                  Create your own application!
              </a>
          </div>
      </div>
      {% endif %}
      <hr>
      <!-- Example row of columns -->
      <div class="row">
        {% include 'home/_other_projects.html' ignore missing %}
        <div class="span4">
          <h2>Stats</h2>
          <ul>
            <li>App count: {{ stats['app'] }}</li>
            <li>User count: {{ stats['user'] }}</li>
            <li>Task count: {{ stats['task'] }}</li>
            <li>Task Run count: {{ stats['taskrun'] }}</li>
          </ul>
          <p><a href="{{ url_for('stats.index') }}" class="btn"><i class="icon-trophy"></i> The Leaderboard &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Why Contribute?</h2>
          <ul>
            <li>Help advance research</li>
            <li>Everything is open and freely usable</li>
          </ul>
        </div>
      </div>
{% endblock %}
