{% extends "/base.html" %}
{% set active_page = "applications" %}
{% set active_app  = "all" %}

{% block content %}
{% if bossa_app %}
  <div class="page-header">
    <h1>{{ bossa_app['name'] }}</h1>
  </div>
  <ul>
    <li>Description: {{ bossa_app['description'] }}</li>
    <li>Creation Date: {{ bossa_app['creation'] }}</li>
    <li>Last Activity: {{ bossa_app['last_active'] }}</li>
    <li>Completion: {{ bossa_app['completion'] }} %</li>
  </ul>
{% else %}
  <div class="page-header">
    <h1>Sorry! This app does not exists.</h1>
  </div>
{% endif %}
{% endblock %}
