      <div class="container">
        <div class="row">
          <div class="span3">
            <a href="http://citizencyberscience.net/"><img src="/static/img/ccc.png"></a>
          </div>
          <div class="span3">
            <a href="http://okfn.org/"><img src="/static/img/okf.png"></a>
          </div>
          <div class="span3">
            <a href="http://www.unige.ch/"><img src="/static/img/udg.png"></a>
          </div>
          <div class="span3">
            <a href="http://pybossa.com/"><img src="/static/img/pybossa.png"></a>
          </div>
        </div>
      </div>
