      <div class="container">
        <div class="row">
          <div class="span3">
              <a href="http://citizencyberscience.net/"><img src="{{url_for('static', filename='img/ccc.png')}}"></a>
          </div>
          <div class="span3">
              <a href="http://okfn.org/"><img src="{{url_for('static', filename='img/okf.png')}}"></a>
          </div>
          <div class="span3">
              <a href="http://www.unige.ch/"><img src="{{url_for('static', filename='img/udg.png')}}"></a>
          </div>
          <div class="span3">
              <a href="http://dev.pybossa.com/"><img src="{{url_for('static', filename='img/pybossa.png')}}"></a>
          </div>
        </div>
      </div>
