    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('home') }}"><img src="/static/img/logo.png" alt="crowdcrafting"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ url_for('account.index')}}">Community</a></li>
              <li><a href="{{ url_for('app.index') }}">Applications</a></li>
              <li><a href="{{ url_for('app.new') }}">Create</a></li>
              <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
          {% if current_user.is_authenticated() %}
            <ul class="nav secondary-nav pull-right">
              <li><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon icon-user"></i> {{ current_user.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('account.profile') }}"><i class="icon icon-user"></i> Account</a></li>
                    {% if current_user.admin == 1 %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('admin.index') }}"><i class="icon icon-cog"></i> Settings</a></li>
                    {% endif %}
                    <li class="divider"></li>
                  <li><a href="{{ url_for('account.signout') }}"><i class="icon icon-off"></i> Sign Out</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}

            {% if current_user.is_anonymous() %}
            <ul class="nav secondary-nav pull-right">
              <li><a href="{{ url_for('account.signin') }}"><i class="icon icon-white icon-signin"></i> Sign in</a></li>
            </ul>
            {% endif %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
