    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{ title }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if active_page == "index"  %} class="active" {% endif %}> <a href="/"><i class="icon-home icon-white"></i> Home</a></li>
              <li {% if active_page == "community"  %} class="active" {% endif %}><a href="/account"><i class="icon-user icon-white"></i> Community</a></li>
              {% if apps.count() >= 1 %}
              <li {% if active_page == "applications"  %} class="dropdown active" {% else %} class="dropdown"  {% endif %}>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th icon-white"></i> Applications <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for app in apps: %}
                        <li {% if active_app == "flickrperson"  %} class="active" {% endif %} >
                          <a href="/app/{{app.short_name}}/presenter"> {{ app.short_name}}</a>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li {% if active_app == "all"  %} class="active" {% endif %}><a href="/app">All</a></li>
                        {% if not current_user.is_anonymous() %} 
                        <li class="divider"></li>
                        <li><a href="/app/new"><i class="icon-plus"></i> Create an application</a></li>
                        {% endif %}
                    </ul>
              </li>
              {% endif %}
              <li><a href="http://docs.pybossa.com/">Guide and Documentation</a></li>
            </ul>
            <ul class="nav secondary-nav pull-right">
              {% if current_user.is_anonymous() %}
              <li>
                <a href="{{url_for('account.register')}}">Register</a>
              </li>
              <li>
                <a href="{{url_for('account.login')}}">Login</a>
              </li>
              {% else %}
              <li {% if active_page == "profile"  %} class="active" {% endif %}>
              <p class="navbar-text pull-right">Logged in as <a href="{{url_for('account.profile')}}">{{ current_user.name}}</a></p>
              </li>
              <li>
              <a href="{{ url_for('account.logout') }}">Logout <i class="icon-off icon-white"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

