<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="PyBossa - ...">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/1.3.0/bootstrap.min.css">

    <!-- our styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/1.3.0/bootstrap-alerts.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/1.3.0/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/1.3.0/bootstrap-twipsy.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/1.3.0/bootstrap-popover.js"></script>
  </head>

  <body>
    {% set active_page = active_page | default('index') -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
                <h3><a href="/">{{ title }}</a></h3>
          <ul class="nav">
            <li {% if active_page == "index"  %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if active_page == "community"  %} class="active" {% endif %}><a href="/account">Community</a></li>
            {% if apps.count() >= 1 %}
            <li {% if active_page == "applications"  %} class="dropdown active" {% endif %} data-dropdown="dropdown">
                  <a href="#" class="dropdown-toggle">Applications</a>
                    <ul class="dropdown-menu">
                        {% for app in apps: %}
                        <li {% if active_app == "flickrperson"  %} class="active" {% endif %} >
                          <a href={{app.short_name}}> {{ app.short_name}}</a>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li {% if active_app == "all"  %} class="active" {% endif %}><a href="/app">All</a></li>
                    </ul>
              </li>
            {% endif %}
            <li {% if active_page == "faq"  %} class="active" {% endif %}><a href="/faq">FAQ</a></li>
          </ul>
          <ul class="nav secondary-nav">
            {% if current_user.is_anonymous() %}
            <li>
              <a href="{{url_for('account.register')}}">Register</a>
            </li>
            <li>
              <a href="{{url_for('account.login')}}">Login</a>
            </li>
            {% else %}
            <li {% if active_page == "profile"  %} class="active" {% endif %}>
             <img src="{{current_user['email_addr'] | gravatar(size=34)}}">
            </li>
            <li {% if active_page == "profile"  %} class="active" {% endif %}>
              <a href="{{url_for('account.profile')}}">Profile</a>
            </li>
            <li>
              <a href="{{ url_for('account.logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

    <div class="alert-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
      {% for category, message in messages %}
        <div class="alert-message {{category}} fade in" data-alert="alert">
          <a class="close" href="#">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div> <!-- /content -->

    <footer>
      <div class="row">
        <div class="span-one-third">
          <h4>About</h4>
          <ul>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="span-one-third">
          &nbsp;
       </div>
        <div class="span-one-third">
          <h4>Meta</h4>
          <p>&copy; {{ copyright }}</p>
          <p>
          Licensed under the:
             <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a> 
             <a href="http://opendefinition.org/"><img alt="This Content and Data is Open"
                  src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"
                  style="border: none ; margin-bottom: -4px;"/></a>
             <a href="http://www.gnu.org/licenses/agpl.html"><img alt="GNU Affero v3 License Logo"
                      src="http://www.gnu.org/graphics/agplv3-88x31.png"
                      style="vertical-align:middle;"></a>
          </p>
          <p>Powered by <a href="http://pybossa.org">PyBossa</a> <span class="label notice"> {{ version }}</span></p>
        </div>
      </div>
    </footer>

    </div> <!-- /container -->
  </body>
</html>
