<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyBossa - ...">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- our styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/2.0.4/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/2.0.4/bootstrap-responsive.min.css">
    <!-- FontAwesome goodies -->
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.css">

    <!-- Le javascript -->
    <script type="text/javascript" src="/static/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/2.0.4/bootstrap.js"></script>
 </head>

  <body>
    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}


    {% set active_page = active_page | default('index') -%}
    {% set active_app  = active_app | default('none') -%}
    {% include "_navbar.html" %}

    <div class="container">
    <!-- We are Alpha yet! -->
    <img src="{{ url_for('static', filename='img/ribbon-right.png')}}" class="visible-desktop" style="position:absolute; top:40px; right:0; border:0;">
    <img src="{{ url_for('static', filename='img/ribbon-right.png')}}" class="visible-tablet visible-phone" style="position:absolute; top:50px; right:0; border:0;">

    {% include "_flash_messages.html" %}

    {% block content %}{% endblock %}

    <hr>
    <footer>
      <div class="row">
        <div id="copyright" class="span12">
          <p>&copy; {{ copyright }}</p>
          <hr>
          <div class="row">
              <div class="span4 offset2">
                  <a href="http://citizencyberscience.net">
                  <img src="{{ url_for('static', filename="img/ccc.png") }}">
                  </a>
              </div>
              <div class="span4">
                  <a href="http://okfn.org">
                  <img src="{{ url_for('static', filename="img/okfn.png") }}">
                  </a>
              </div>
          </div>
          <p>Powered by <a href="http://pybossa.com">PyBossa</a> <span class="label label-info"> {{ version }}</span></p>
          <p>Contact us: <a href="mailto:info@pybossa.com"><i class="icon-envelope"></i> info@pybossa.com</a></p>
          <p><a class="btn btn-mini" href="http://github.com/PyBossa/pybossa"><i class="icon-github"></i> Code on Github</a>
          <a class="btn btn-mini" href="http://github.com/PyBossa/pybossa/issues"><i class="icon-github"></i> Issues on Github</a><p>
          <p><a class="btn btn-mini" href="http://twitter.com/pybossa"><i class="icon-twitter"></i> Follow us on Twitter</a></p>
        </div>
        <div class="row">
          <div id="okfn" class="span6">
               <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a> 
               <a href="http://opendefinition.org/"><img alt="This Content and Data is Open"
                    src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"
                    style="border: none ; margin-bottom: -4px;"/></a>
          </div>
          <div id="agplv3" class="span6">
            <a href="http://www.gnu.org/licenses/agpl.html"><img alt="GNU Affero v3 License Logo"
                        src="http://www.gnu.org/graphics/agplv3-88x31.png"
                        style="vertical-align:middle;"></a>
          </div>
        </div>
    </footer>
    </div> <!-- /container -->
  </body>
</html>
